 .btnA {
    grid-area: btnA;
    place-self: center ;

  }
  .btnB {
    grid-area: btnB;
    place-self: center ;

  }
  .btnC {
    grid-area: btnC;
    place-self: center ;

  }
  
  .buttonHolder {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
      "btnA btnA btnB btnB"
      ".    btnC btnC   ."
  }

  .btn  {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    /* background-color: rgb(218, 218, 218); */
    border-radius: 50%;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }


  
  .text {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  button:focus {
    outline: none !important;
    outline-offset: none !important;
}